.commentPlacer{
    padding: 10px;
    border: 1px solid #ccc;
    width: 59%;
    resize: none;
    font-family: sans-serif;
    border: solid #9b5ff5 0.2rem;
    // height: 5.5rem;
    // width: 59.3%;
    // padding-left: 1.5rem;
    // padding-right: 1.5rem;
    // display: flex;
    // align-items: center;
}