header{
    width: 56%;
    height: 5rem;
    display: flex;
    background: linear-gradient(to bottom left, #6941a6 , #a86fff);
    align-items: center;
    justify-content: center;
    font-size: 100%;
    font-weight: 600;
}