@media screen and (max-width: 78.875rem) {
    body{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0rem;
    }

    .mainSection{
        align-items: center;
        justify-content: center;
        padding: 0rem;
    }

    .asideSection__video--4{
        display: none;
    }

    .asideSection{
        width: 60%;
        height: 100%;
        padding-top: 2rem;
        padding-bottom: 2rem;
        background: #6f3eb9;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 3rem;

        &__video{
            width: 40%;
        }
    }
}

@media screen and (max-width: 47.1875rem){
    .mainSection{
    
        &__videoWrapper{
    
            &__section{
    
                &__Wrapper{
    
                    &__Arrow{
                        font-size: 3rem;
                        color: white;
                    }
    
                    &__Star{
                        font-size: 3rem;
                        color: white;
                    }
                }
    
                &__title{
                    font-size: 1rem;
                }
            }
        }
    }

    .mainSection__videoWrapper__section__Wrapper--2{
        width: 20%;
    }
}

@media screen and (max-width: 30.875rem){
    .mainSection__videoWrapper__section__circleFigure{
        width: 3rem;
        height: 3rem;
        border: solid black 0.2rem;
        background: white;
        border-radius: 50%;
    }

    .commentSection__section__circle{
        width: 3rem;
        height: 3rem;
        background: white;
        border-radius: 50%;
        border: solid black 0.2rem;
    }

    .mainSection__videoWrapper__section__Wrapper__Arrow{
        font-size: 2rem;
    }

    .mainSection__videoWrapper__section__Wrapper__Star{
        font-size: 2rem;
    }
}